// ---Dependencies
import { ReactElement } from 'react';
// ---UI Dependencies
// ---Custom Hooks
// ---Config
// ---Assets
// ---Utils
// ---Requests
// ---Styles
// ---CommonComponents
// ---Components

/**
 * {{pascalCase name}}Cont Component:  Descripcion del comportamiento...
 * @param {Props} props - Parametros del componente como: ...
 * @returns {ReactElement}
 */
export function {{pascalCase name}}Cont(): ReactElement {
  // -----------------------CONSTS, HOOKS, STATES
  // -----------------------MAIN METHODS
  // -----------------------AUX METHODS
  // -----------------------RENDER
  return <p>{{pascalCase name}}Cont</p>;
}