// ---Dependencies
// ---UI Dependencies
// ---Custom Hooks
// ---Config
// ---Assets
// ---Utils
// ---Requests
// ---Styles
// ---CommonComponents
// ---Components

interface Props {}

/**
 * use{{pascalCase name}} Custom Hook: Descripcion del comportamiento...
 * @param {Props} props - Parametros del componente como: ...
 */
export function use{{pascalCase name}}(props: Props) {
  // -----------------------CONSTS, HOOKS, STATES
  // -----------------------MAIN METHODS
  // -----------------------AUX METHODS
  // -----------------------HOOK DATA
  return null;
}