/* eslint-disable no-restricted-syntax */
// ---Dependencies
import { ReactElement } from 'react';
import { Helmet } from 'react-helmet';
// ---Components
import { {{pascalCase name}}Cont } from 'Pages/{{pascalCase name}}/{{pascalCase name}}Cont/{{pascalCase name}}Cont';

/**
 * Componente {{pascalCase name}}: Contenedor princilal para la ruta '/{{lowerCase name}}' componente es para dar datos al Helmet de
 * la página y concatenarla con el contenedor de la página componente
 * @returns { ReactElement } ReactElement
 */
export default function {{pascalCase name}}(): ReactElement {
  return (
    <>
      <Helmet>
        <title>Forge Template | {{pascalCase name}}</title>
      </Helmet>
      <{{pascalCase name}}Cont />
    </>
  );
}
