// ---Store Config
import { genericStore, storageBuilder } from '@Redux/config/genericStore';
// ---Types
import { {{pascalCase name}}Initial } from './storeTypes';
// ---Actions
import { customActions } from './actions';


const initialState: {{pascalCase name}}Initial = {
  aaaa: 'eeeeeee',
  aaaa: 'eeeeeee',
  aaaa: 'eeeeeee',
};

/** Instancia genérica básica  */
const useGenericZustand = genericStore({
  initialState,
  name: 'use{{pascalCase name}}Store',
  persist: false,
});

/** Hook que manipula el storage de "use{{pascalCase name}}Store */
export const use{{pascalCase name}}Store = storageBuilder(initialState, useGenericZustand);
