@import 'antd/dist/reset.css';

// //--carousel
// .ant-carousel .slick-slide {
//   text-align: center;
//   overflow: hidden;
//   width: 100%;
// }
// //--steps
// .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon{
//   color: @colorPrimaryText;
// }
// .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title{
//   color: @colorPrimaryText;
//   font-weight: bold;
// }
// .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-description{
//   color: @colorSecundaryText;
// }
// .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after{
//   background-color: @colorSecundaryText;
// }
// .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail::after {
//   background-color: @colorPrimaryText;
// }


// .ant-steps-item-finish .ant-steps-item-icon{
//   background-color: transparent;
//   border-color: @colorThree;
// }
// .ant-steps-item-process .ant-steps-item-icon {
//   background: transparent;
// }
// .ant-steps-item-process .ant-steps-item-icon {
//   background-color: transparent;
//   border-color: @colorPrimaryLigth;
// }
// .ant-steps-item-wait .ant-steps-item-icon {
//   background-color: transparent;
//   border-color: @colorPrimaryText;
// }
// .ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon {
//   color: @colorPrimaryText;
// }
// .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
//   color: @colorPrimaryLigth;
//   font-weight: bold;
// }
// .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-description {
//   color: @colorPrimaryText;
// }
// .ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
//   color: @colorSecundaryTextLigth;
//   font-weight: bold;
// }
// .ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-description {
//   color: @colorSecundaryTextLigth;
// }
// .ant-steps-item-subtitle {
//   color: @colorSecundaryTextLigth;
// }
// //--tabs
// .ant-tabs{
//   color: @colorPrimaryText;
// }
// .ant-tabs-nav .ant-tabs-tab-active{
//   color: @colorPurpleWh;
//   font-size: 18px;
// }
// .ant-tabs-nav .ant-tabs-tab:hover{
//   color: @colorPurpleWhLigth;
// }
// .ant-tabs-ink-bar{
//   background-color: @colorPurpleWh;
// }
// .ant-table{
//   background-color: @colorPrimaryText;
// }
// .ant-table-thead{
//   background-color: @colorPurpleWh;
// }
// .ant-card-head-title{
//   white-space: normal;
// }
// //---badge
// .ant-badge-count{
//   background: @colorThree;
//   border: 0.7px solid  white;
// }
// .ant-scroll-number-only > p.ant-scroll-number-only-unit {
//   color: @colorDark;
// }
// //---progress
// .ant-progress-circle .ant-progress-text {
//   color: @colorPrimaryLigth;
// }
// .ant-progress-inner:not(.ant-progress-circle-gradient) .ant-progress-circle-path {
//   stroke: @colorPrimaryLigth;
// }
